 /*清除浏览器默认内外边距，设置为内减模式*/
 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*设置网页统一的字体大小、行高、字体系列相关属性*/
body {
  font: 16px/1.5 "Helvetica Neue", Helvetica,Arial, "Microsoft Yahei", "Hiragion Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  color: #333;
}
/*清除超链接的下划线*/
a {
  text-decoration: none;
  /* color: #333; */
}
/*去除默认的倾斜效果*/
em,
i {
  font-style: normal;
}
/*清除列表的圆点*/
ul,
ol {
  list-style: none;
}
/*设置img的垂直对齐方式为居中对齐，去除img默认的下间隙*/
img {
  vertical-align: middle;
}
/*去除input默认样式*/
input {
  border: none;
  outline: none;
  color: #333;/*可改*/
}
/*左右浮动*/
.fl {
  float: left;
}
.fr {
  float: right;
}
/*clearfix，用于修复塌陷与清除浮动影响*/
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}
.clearfix::after {
  clear: both;
}

/* #app{
  background-color: #0D0E11;
  min-height: 100vh;
} */

body {
  /* background-color: #0D0E11; */
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}